{% extends "layout.html" %}

{% block body %}
{% if coaches is defined %}
<h2>{{ group.name }}</h2>
<h3>Statistics</h3>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Members</th>
      <th>Total practices</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ members }}</td>
      <td>{{ practices }}</td>
    </tr>
  </tbody>
</table>
<h3>Coaches</h3>
<table class="table table-hover table-sm">
  <tr>
    <th>Last</th>
    <th>First</th>
    <th>Phone number</th>
  </tr>
  {% for coach in coaches %}
  <tr>
    <td>{{ coach.lastname }}</td>
    <td>{{ coach.firstnames }}</td>
    <td>{{ coach.phoneNumber }}</td>
  </tr>
  {% endfor %}
</table>
{% if "ADMIN" in current_user.roles() %}
<a href="{{ url_for('groups_practices', id=group.id) }}"><span>
  <input type="button" class="btn btn-primary" value="Add practices">
</span></a>
{% endif %}
{% endif %}
{% endblock %}
