{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('modify_user', id=id) }}">
  <table>
    {% for field in form %}
    <tr>
        {% if field.name != "admin" or "ADMIN" in current_user.roles() %}
            {% if field.type != "HiddenField" %}
            <td>{{ field.label }}</td>
            {% endif %}
            <td>{{ field }}</td>
            <td>
                <ul>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {%endfor%}
                </ul>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">
	<input type="submit" class="btn btn-primary" value="Change"/>
      </td>
    </tr>
</form>
{% endblock %}