{% extends "layout.html" %}

{% block body %}
  <h2>Members</h2>
  <table id="members" class="table table-hover table-sm table-striped">
    <thead>
      <tr>
        <th>Firstname</td>
        <th>Lastname</td>
        <th>Group</td>
        <th>Practice Count</th>
        {% if "ADMIN" in current_user.roles() or current_user.member_id != None %}
          <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    {% if members_w_group is defined %}
    {% for member in members_w_group %}
    <tbody>
      <tr>
        <td>{{ member.firstnames }}</td>
        <td>{{ member.lastname }}</td>
        <td><a href="{{ url_for('groups_details', id=member.groupId)}}">{{ member.groupName }}</a></td>
        <td>{{ member.practiceCount }}</td>
        <td>
          <div class="row">
            <div class="col-xs-6 text-left ml-1 mr-1">
              <div class="delete">
                {% if "ADMIN" in current_user.roles() %}
                <form method="POST" action="{{ url_for('members_delete', id=member.id) }}"
                  onsubmit="return confirm('This will permanently delete the member and all of its practices. Do you really want to delete?');"
                  display="inline">
                  <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </form>
                {% endif %}
              </div>
            </div>
            <div class="col-xs-6 text-right ml-1 mr-1">
              <div class"modify">
                {% if "ADMIN" in current_user.roles() or current_user.member_id == member.id %}
                <a href="{{ url_for('member_details', id=member.id) }}"><span>
                  <input type="button" value = "Modify"
                    class="btn btn-primary btn-sm" display="inline"/></span></a>
                {% endif %}
              </div>
            </div>
            <div class="col-xs-6 text-right ml-1 mr-1">
                <div class"modify">
                  {% if "ADMIN" in current_user.roles() or current_user.member_id == member.id %}
                  <a href="{{ url_for('members_practices', id=member.id) }}"><span>
                    <input type="button" value = "Practices"
                      class="btn btn-primary btn-sm" display="inline"/></span></a>
                  {% endif %}
                </div>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
    {% endfor %}
    {% endif %}
  </table>
{% endblock %}
