{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('members_create') }}">
	<table>
		<tr>
			<td>
				{{ form.firstnames.label }}
			</td>
			<td>
				{{ form.firstnames }}
			</td>
			<td>
				<ul>
					{% for error in form.firstnames.errors %}
					<li>{{ error }}</li>
					{%endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.lastname.label }}
			</td>	
			<td>
				{{ form.lastname }}
			</td>
			<td>
				<ul>
					{% for error in form.lastname.errors %}
					<li>{{ error }}</li>
					{%endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.csfr_token }}
			</td>
			<td>
				{{ form.grouplist }}
			</td>
			<td>
				<ul>
					{% for error in form.grouplist.errors %}
					<li>{{ error }}</li>
					{%endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" class="btn btn-primary" value="Add a new member"/>
			</td>
		</tr>
</form>
{% endblock %}
