{% extends "layout.html" %}
  
{% block body %}
<h2>Member details</h2>
<table id="members" class="table table-hover table-sm table-striped">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Practice Count</th>
    </tr>
    {% if practices is defined %}
    {% for member in practiceCount %}
    <tr>
        <td>{{ member.firstnames }}</td>
        <td>{{ member.lastname }}</td>
        <td>{{ member.practiceCount }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

<form method="POST" action="{{ url_for('member_practices_create') }}">
    <strong><t3>Add new practice</t3></strong>
    <table id="newPractice" class="table table-hover table-sm table-striped">
        <tr>
            <td>
                {{ form.member_id }}
            </td>
        </tr>
		<tr>
			<td>
				{{ form.date.label }}
			</td>
			<td>
				{{ form.date }}
			</td>
			<td>
				<ul>
					{% for error in form.date.errors %}
					<li>{{ error }}</li>
					{%endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" class="btn btn-primary" value="Add a new participation"/>
			</td>
		</tr>
</form>

<table>
    <tr>
        <th>Practices</th>
    </tr>
    {% for practice in practices %}
    <tr>
        <td>{{ practice.date }}</td>
        {% if practice.date >= deleteLimit %}
        <td>
            <form method="POST" action="{{ url_for('delete_practice', id=practice.id) }}"
                onsubmit="return confirm('This will permanently delete the practice. Do you really want to delete it?');">
                <input type="hidden" name="member_id" value="{{ practiceCount[0].id }}"/>
                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
