{% extends "layout.html" %}
  
{% block body %}
<table>
    <tr>
        <th>Practices for</th>
    </tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Practice Count</td>
    </tr>
    {% if practices is defined %}
    {% for member in practices %}
    <tr>
        <td>{{ member.firstnames }}</td>
        <td>{{ member.lastname }}</td>
        <td>{{ member.practiceCount }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

<form method="POST" action="{{ url_for('member_practices_create') }}">
	<table>
        <tr>
            <th>Add new practice</th>
        </tr>
        <tr>
            <td>
                {{ form.member_id }}
            </td>
        </tr>
		<tr>
			<td>
				{{ form.date.label }}
			</td>
			<td>
				{{ form.date }}
			</td>
			<td>
				<ul>
					{% for error in form.date.errors %}
					<li>{{ error }}</li>
					{%endfor%}
				</ul>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" value="Add a new participation"/>
			</td>
		</tr>
</form>
{% endblock %}
